{# Description (goal) #}
{% if configuration.domain_description %}
{{ configuration.domain_description }}
{% endif %}

Suggest an adaptation strategy. The goal is to assign the components into groups. Note that each component must be assigned to exactly one group.

{# Strategy interface #}
{% if configuration.strategy_interface %}
{% if configuration.strategy_interface.class %}
{% set path, class = configuration.strategy_interface.abstract_class.rsplit(".", 1) %}
The strategy must be written in Python and it must be a class named `{{ configuration.strategy_interface.class }}` derived from this base class (which can be imported from `{{ path }}`):
```
class {{ class }}(abc.ABC):
{% for assignment_name in configuration.assignments %}
    @abc.abstractmethod
    def {{ assignment_name }}(self, components, environment, group_ids, step: int):
        pass

{% endfor %}
```
To perform the group assignments, use the `environment.assign_group(component, group_id)` method. The `group_id` must be exactly as listed below.

{% else %}
{{ configuration.strategy_interface }}

{% endif %}
{% endif %}
{# Ensemble assignments #}
{% for assignment_name, assignment in configuration.assignments.items() %}
---
In `{{ assignment_name }}`, your goal is to divide the {{ assignment.components.description }} (`components`) into the following groups:
{# Ensembles #}
{% for ensemble in assignment.ensembles %}
{% if ensemble is mapping %}
{% set ensemble_config = configuration.ensembles[ensemble.type] %}
- For each `{{ ensemble.for_str }}` in `{{ ensemble.in_str }}` if `{{ ensemble.if_str }}`, a group named `"{{ ensemble_config.name_str }}"`{% if ensemble_config.description %}: {{ ensemble_config.description }}{% endif %}

{% else %}{# singleton #}
{% set ensemble_config = configuration.ensembles[ensemble] %}
- A group named "{{ ensemble_config.name }}"{% if ensemble_config.description %}: {{ ensemble_config.description }}{% endif %}

{% endif %}
{% endfor %}{# ensemble #}

The `group_ids` argument is a list of all valid group names.

For each component, the following attributes are available:
{# Component attributes #}
{% for attribute, attribute_config in configuration.components[assignment.components.type].attributes.items() %}
- `{{ attribute }}`: {{ attribute_config.name }}{% if attribute_config.description %} ({{ attribute_config.description }}){% endif %}

{% endfor %}{# attribute #}
{% if assignment.strategy %}

{{ assignment.strategy }}
{% endif %}{# strategy #}
{% endfor %}{# assignment #}
---

{# Environment components (beyond-control) #}
{% if configuration.environment.beyond_control_components %}
Further, you can access the following beyond-control components, which are only observable and cannot be assigned to groups.

{% for variable, component_group in configuration.environment.beyond_control_components.items() %}
{{ component_group.description }} (accessible via `environment.{{ variable }}`) with the following attributes:
{% if configuration.components[component_group.type].id %}
- `{{ configuration.components[component_group.type].id }}`: identifier
{% endif %}
{% for attribute, attribute_config in configuration.components[component_group.type].attributes.items() %}
- `{{ attribute }}`: {{ attribute_config.name }}{% if attribute_config.description %} ({{ attribute_config.description }}){% endif %}

{% endfor %}
{% endfor %}
{% endif %}

{# Environment (global) attributes #}
{% if configuration.environment.global_attributes %}
Global read-only attributes of the `environment`:
{% for attribute, attribute_config in configuration.environment.global_attributes.items() %}
- `{{ attribute }}`: {{ attribute_config.name }}{% if attribute_config.description %} ({{ attribute_config.description }}){% endif %}

{% endfor %}
{% endif %}
{% if configuration.strategy %}
---
{{ configuration.strategy }}
{% endif %}{# strategy #}

{% if configuration.chain_of_thought %}
Think step by step. First, reason about the question and write a short explanation of your answer. Then, write the code for the adaptation strategy.
{% endif%}{# chain-of-thought #}