{# Description (goal) #}
{% if configuration.environment.description %}
{{ configuration.environment.description }}
{% endif %}

Suggest an adaptation strategy.

{# Strategy interface #}
{% if configuration.strategy_interface %}
{% if configuration.strategy_interface.class %}
{% set path, class = configuration.strategy_interface.class.rsplit(".", 1) %}
The strategy must be written in Python and must be derived from this base class (which can be imported from `{{ path }}`):
```
class {{ class }}(abc.ABC):
{% for assignment_name in configuration.assignments %}
    @abc.abstractmethod
    def {{ assignment_name }}(self, components, environment, step: int):
        pass

{% endfor %}
```
To perform the group assignments, use the `environment.assign_group(component, group_id)` method. The `group_id` must be exactly as listed below.

{% else %}
{{ configuration.strategy_interface }}

{% endif %}
{% endif %}
{# Ensemble assignments #}
{% for assignment_name, assignment in configuration.assignments.items() %}
---
In `{{ assignment_name }}`, your goal is to divide the {{ assignment.components.description }} (`components`) into the following groups:
{# Ensembles #}
{% for ensemble in assignment.ensembles|get_ensembles %}
{{ loop.index }}. {{ ensemble.name }}
{% if ensemble.description %}   - {{ ensemble.description }}
{% endif %}
{% endfor %}{# ensemble #}

For each component, the following attributes are available:
{# Component attributes #}
{% for attribute, attribute_config in assignment.components.attributes.items() %}
- `{{ attribute }}`: {{ attribute_config.name }}{% if attribute_config.description %} ({{ attribute_config.description }}){% endif %}

{% endfor %}{# attribute #}
{% if assignment.strategy %}

{{ assignment.strategy }}
{% endif %}{# strategy #}
{% endfor %}{# assignment #}
---

{# Environment components (beyond-control) #}
{% if configuration.environment.components %}
Further, you can access the following beyond-control components, which are only observable and cannot be assigned to groups.

{% for _, component_group in configuration.environment.components.items() %}
{{ component_group.description }} (accessible via `{{ component_group.access }}`) with the following attributes:
{% if component_group.id %}
- `{{ component_group.id }}`: identifier
{% endif %}
{% for attribute, attribute_config in component_group.attributes.items() %}
- `{{ attribute }}`: {{ attribute_config.name }}{% if attribute_config.description %} ({{ attribute_config.description }}){% endif %}

{% endfor %}
{% endfor %}
{% endif %}

{# Environment (global) attributes #}
{% if configuration.environment.globals %}
Global read-only attributes of the `environment`:
{% for attribute, attribute_config in configuration.environment.globals.items() %}
- `{{ attribute }}`: {{ attribute_config.name }}{% if attribute_config.description %} ({{ attribute_config.description }}){% endif %}

{% endfor %}
{% endif %}
{% if configuration.strategy %}
---
{{ configuration.strategy }}

{% endif %}{# strategy #}