{# Description (goal) #}
{% if configuration.environment.description %}
{{ configuration.environment.description }}
{% endif %}
{# Environment (global) attributes #}
{% if configuration.environment.globals %}
Current state of the environment:
{% for attribute, attribute_config in configuration.environment.globals.items() %}
{% if environment|show_attr(attribute_config) %}
- {{ attribute_config.name }}: {{ environment|get_attr(attribute, attribute_config) }}
{% endif %}
{% endfor %}
{% endif %}
{# Environment components (beyond-control) #}
{% if configuration.environment.components %}
{% for _, component_group in configuration.environment.components.items() %}

{{ component_group.description }}:
{% for component in component_group|get_components(beyond_control=True) %}
{% if component_group.id %}
- {{ component[component_group.id] }}:
{% endif %}
{% for attribute, attribute_config in component_group.attributes.items() %}
{% if component|show_attr(attribute_config) %}
- {{ attribute_config.name }}: {{ component|get_attr(attribute, attribute_config) }}
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
{% endif %}

{# Ensemble assignments #}
Your goal is to assign the following components into groups. Note that each component must be assigned to exactly one group.

{% for _, assignment in configuration.assignments.items() %}
{% set components = assignment.components|get_components %}
---
{# Components to be assigned #}
{{ assignment.components.description }}:
{% if components|length > 0 %}
{% for component in components %}
- {{ component[assignment.components.id] }}:
{% for attribute, attribute_config in assignment.components.attributes.items() %}
{% if component|show_attr(attribute_config) %}
  - {{ attribute_config.name }}: {{ component|get_attr(attribute, attribute_config) }}
{% endif %}
{% endfor %}{# attribute #}
{% endfor %}{# component #}
{% else %}
(none)
{% endif %}

Allowed groups for {{ assignment.components.description }}:
{# Ensembles #}
{% for ensemble in assignment.ensembles|get_ensembles %}
{{ loop.index }}. {{ ensemble.name }}
{% if ensemble.description %}   - {{ ensemble.description }}
{% endif %}
{% endfor %}{# ensemble #}
{% if assignment.strategy %}

{{ assignment.strategy }}
{% endif %}
{% endfor %}{# assignment #}

---
{% if configuration.strategy %}
{{ configuration.strategy }}

{% endif %}{# strategy #}
{% if configuration.chain_of_thought %}
Think step by step. First, reason about the question and write a short explanation of your answer. Then, write the group assignments.

{% endif%}{# chain-of-thought #}
Prefix the final group assignment by a horizontal line (---) as a delimiter and do not add any additional text after it. Do not use Markdown formatting in the final answer.

{% for _, assignment in configuration.assignments.items() %}
{% if assignment.answer_format == "component-first" %}
For each of {{ assignment.components.description }}, write one line with the selected group in format "<name>: <group>". The group must be one of {% for ensemble in assignment.ensembles|get_ensembles %}"{{ ensemble.name }}"{{ ", " if not loop.last else "" }}{% endfor %}.
{% elif assignment.answer_format == "ensemble-first" %}
{# TODO #}
{% else %}
{{ assignment.answer_format }}
{% endif %}

{% endfor %}