# common
python-dotenv
pyyaml
matplotlib
pillow
colorama
pandas
numpy
seaborn

# LLMs
langchain
langchain-openai
langchain-google-genai
langchain-anthropic
tiktoken

# RL
tensorflow==2.14.0

# templates
Jinja2
