# common
python-dotenv
pyyaml
matplotlib
pillow
colorama
pandas
numpy
seaborn
pytest
pytest-dependency

# LLMs
langchain==0.3.0
langchain-openai>=0.3.9
langchain-google-genai
langchain-anthropic
tiktoken

# RL
#tensorflow==2.14.0

# templates
Jinja2

# DSL parsing
lark
